.h2hamertekst { 
color: white;

}


/* CUSTOM BANNER MET MENU EROP!*/
.bg-img {
  /* The image used */
  background-image: url("https://test.kuthamer.nl/images/unnamed.jpg");

  min-height: 90px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 20px;
  width: auto;
  margin-left: 50px;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.6);
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}



/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 35px; /* 15px padding */
  width: 140px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 100px;
  background-color: rgba(31, 127, 92, 0.75);
}

#blog {
  top: 160px;
  background-color: rgba(31, 127, 92, 0.75);
}

#projects {
  top: 220px;
  background-color: rgba(31, 127, 92, 0.75);}

#contact {
  top: 280px;
  background-color: rgba(31, 127, 92, 0.75);
}


/*FOTO'S CENTER OF HOME PAGE*/
.container-v1 {
  display: block;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;  
}

/*CARD-RIGHT*/
.card-right {
  float: right;
  postion: relative;
  margin-top: 40px;
  margin-left: 0px;
  margin-right: 400px;
  text-align: center;
}


.card-right a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17p x;
}

.card-title {
 text-align: center;
}

.card-text {
 text-align: center;
}

.btn-primary {
 text-align: center;
}


/* COPYRIGHT CLAIM */
.copyright {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.fotos-home {
  margin-top: 160px;
  text-align: center;

}
